@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.Search-div {
  text-align: center;
  padding-top:10px;
  padding-bottom:10px;
  background-color: black
}

.Search-input {
width: 30%;
height: 55px;
border-color: #76b900;
border-radius: 5px;

}

.Search-input::placeholder {
  color: black;
  opacity: 3;
}

#add-to-cart {
  padding-left: 20px;
}

.con1 {
  height: 45px;
}
.btn2 {
margin-left: 10px;
margin-bottom: 10px;

}
.tests {
  color: white;

}
#thankyou {
  text-align: center;
}
.avatarPic {
  max-width: 30%;
  max-height: 30%;

}
#avatarDiv {
  text-align: center;
}
#homeContainer {
  text-align: center;
}
.store-center {
text-align: center;
color: #fff;
font-family: GeForce,Helvetica,Arial,Sans-Serif;
}